@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Domine:wght@400;500;600;700&family=Yantramanav:wght@100;500;900&display=swap');
*{/*se resetea los valores*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 0.2fr;
    grid-area: "header"
                "main"
                "footer";
    }
.encabezado{/*acomodando el header para todas las paginas*/
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color:rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
            
            .linknav{ /*se acomoda navegacion y se le da propiedades*/

                    color:white;
                    justify-content: space-between;
                    font-family: 'Alef', sans-serif;
                    font-size: 1.5rem;
                    }
    .boton{
        background-color: #1561f0;
   }
}
.linknav:hover{
    color: #1561f0;    
}

.div1{ /*aqui se estila el titulo principal con su parrafo */
   height: 1000px;
    width: 100%;
    border: 2px solid #ccc;
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
    text-align: center;
    background-color:#14213d;
    .imgfondo{
                display: flex;
                background-repeat: no-repeat;
                height: 800px;
                width: 700px;
                border-radius: 15px;
                background-position:left center;
             }
    .tituloprincipal{/*estilos al titulo*/
                        font-family:'Domine',sans-serif;
                        font-size: 100px;
                        text-align: center;
                        color: #fca311;
                     }
   .contenedorparrafo{
       text-align: center;
       justify-content: center;
       text-align:right; 
    }
    .parrafo{ /*estilos al parrafo del titulo principal*/
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem ;
    text-align: right; /*no pude centrar el parrafo como queria*/
    color: white;
    margin-top: -700px;
    margin-left: 800px;
    text-align: center;
    line-height: 2;
    overflow: auto;
        .destacado{
            color:#1561f0;
            }
}
 }
 
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 40px;
    border-top: solid 2px #2b2b2b;
    border-bottom: solid 2px #2b2b2b;
    padding:50px; /* Agregamos un espacio interior al contenedor */
    .fotos{
        height: 400px;
        width: 500px;
        border-radius: 10%;
        transition: transform 0.3s;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
}
.container .fotos:hover {
    transform: scale(1.1); }
.footer{/*se estila el footer para todas las paginas*/
    background-color:rgba(0, 0, 0, 0.9);  
    
}
  
.wapp{ /*icono de whastap  movible*/ 
    font-size: 3rem;
     color:#013cbb;
    }
.wapp:hover{
    color:#1561f0;
}
/************************************responsive del index*****************************************/
/* Estilos para pantallas pequeñas (menor a 767px de ancho) */
@media (max-width: 767px) {
    .header{
        display: grid;
        grid-template-rows: repeat(1fr);
        
    }
    /********************seccion1***************/

    .encabezado {
       display: grid;
       flex-direction: column;
       height: auto;
       justify-content: center;
    }
    .imglogo {
        height: 80px;
        margin: auto;
    }
    .div1 {
    margin-top: 1100px;
    background-color: #14213d;
    height: 100vh;
    }
    .tituloP{
        background-color: #14213d;    }
    .imgfondo {
        max-width: 100%;
        border-radius: 5%;
        background-color: #14213d;
    }
    .tituloprincipal {
        margin-top:-1000px;
        font-size: 24px;
    
       
    }
    .contenedorparrafo{
        margin-left: -800px;
        margin-top: 720px;
    }
    .parrafo {
        border:  solid 1px #2b2b2b;
        font-size: 16px;
       overflow: hidden;
      
    }
.mapa{
    height: 200px;

}
.footer{/*se estila el footer para todas las paginas*/
    
    height: auto;
            .pfooter{
                font-size: 1rem;
            }   
            .pfooter{
                margin-right: 50px;
            }
 
}
.footer a { 
    font-size: 16px;
    padding:20px;
    
    }
    .diviconos{
            .iconos{
                        font-size: 2rem;
                      
                    }
    
}
.wapp{ /*icono de whastap  movible*/ 
    font-size: 2rem;
    bottom: 97px;
    right: 35px;
    }

}
    /********************************Aqui comienza la pagina galeria**********************************/
   
    .carrusel{
      height: 500px;
      width: 100%;
      object-fit: cover;
    }
    #galeria img{
        width: 100%;
        height: 300px;
        border-radius: 5%;
        box-shadow:5px 5px 10px #2b2b2b;
    }
    #galeria .col-lg-4{
        padding: 25px;
    
    }
    #galeria img:hover{
        border: 5px solid #fca311;
    }
.secgaleria{
    width: 100%;
    background-color: #e5e5e5;
}
.bodygaleria{
    background-color: #e5e5e5;
}